*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{

    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.card div{
    position: relative;
        overflow: hidden;
}

.card img{
width:100%;
height: 400px;
object-fit: cover;
margin-bottom: 20px;
border-radius: 10px;
}

.card img:hover{
    cursor: pointer;
}

.card h2{
    font-size: 30px;
    text-align: center;
}

.card i{
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 50px;
    transform: translate(-50%,-50%) scale(0) rotate(-60deg);
    color: white;
    opacity: 0;
    transition: all cubic-bezier(.71,.93,.76,1.54) 0.4s;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20220705/pngtree-gradient-background-instagram-image_1417077.png);
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;

}